:host {
  position: relative;
  display: block;
}
pre {
  width: 100%;
  display: block;
  overflow-x: auto;
  padding: 2rem;
  box-sizing: border-box;
  background: var(--doc-code-bg, #263946);
  color: var(--doc-code-color, #76ffdf);
  font-size: 0.9em;
  line-height: 1.4em;
}

.button-align {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(50%, -50%);
}

.button-copy {
  display: block;
  transition: 0.2s ease all;
}

.button-copy:active {
  transform: scale(0.8);
}

::slotted(code) {
  padding: 0px !important;
  white-space: unset !important;
}

@media (max-width: 480px) {
  .button-copy {
    display: none;
  }
}
