:host {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
}

.content-scroll {
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    display: grid;
    align-items: flex-end;
    transform-origin: 100% 100%;
    transform: translateX(120%);
    transition: 0.3s ease all;
    opacity: 0.5;
    visibility: hidden;
}

.content-space {
    padding: 0.5rem;
}

.content {
    padding: 4rem 2rem;
    background: white;
    box-shadow: 5rem 0px 20rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem 0.5rem 1.375rem 0.5rem;
}

.content-brand {
    padding-bottom: 2rem;
}

.button-container {
    position: relative;
    margin: 0px 1rem 1rem 0px;
}

.burger {
    width: 80%;
    height: 30%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    transition: 0.3s ease all;
}

.burger div {
    width: 100%;
    height: 1px;
    background: white;
    transition: 0.3s ease all;
}

:host([show]) .content-scroll {
    visibility: visible;
    transform: translateX(0px);
    opacity: 1;
}

:host([show]) .burger {
    height: 2px;
    transform: rotate(45deg);
}

:host([show]) .burger div:nth-child(3) {
    transform: scale(0, 1);
}

:host([show]) .burger div:nth-child(2) {
    transform: rotate(90deg);
}
