button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100rem;
    background-color: var(--doc-button_bgcolor, #fff);
    border: 1px solid var(--doc-button_border-color, #ececec);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

:host([dark]) button {
    color: var(--doc-button_border, #ececec);
    border: none;
    background: var(--doc-button_bgcolor-dark, #000);
}

@media (max-width: 300px) {
    button {
        background: red;
    }
}
